{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}

<div class="container-fluid d-flex flex-column align-items-center justify-items-around">

  <div class="px-4 py-2 my-5 text-center">
    <h1 class="htext display-3  p-2">Welcome Admin</h1>
  </div>


  <div class="container px-2 py-3">
    <div class="row py-3 align-items-center">

      <div class="card feature shadow p-5 m-2 mx-auto col col-lg-5 text-center hv">
        <div class="feature-icon">
          <i class="fa-solid fa-comments fa-5x py-3"></i>
          </svg>
        </div>
        <h2>Manage Community Forum</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="forum.html" class="stretched-link"></a>
      </div>

      <div class="card feature shadow p-5 m-2 mx-auto col-lg-5 text-center hv">
        <div class="feature-icon">
          <i class="fa-solid fa-house fa-5x py-3"></i>
          </svg>
        </div>
        <h2>Manage Shelters </h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="shelterprofile.html" class="stretched-link"></a>
      </div>

    </div>
    <div class="row py-3 align-items-center">

      <div class="card feature shadow p-5 m-2 mx-auto col-lg-5 text-center hv">
        <div class="feature-icon">
          <i class="fa-solid fa-dog fa-5x py-3"></i>
          </svg>
        </div>
        <h2>Manage Animals</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="animaladd.html" class="stretched-link"></a>
      </div>

      <div class="card feature shadow  p-5 m-2 mx-auto col-lg-5 text-center hv">
        <div class="feature-icon">
          <i class="fa-solid fa-user-group fa-5x py-3"></i>
          </svg>
        </div>
        <h2>Manage Users</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="userprofile.html" class="stretched-link"></a>
      </div>

    </div>

  </div>
</div>

{% endblock %}
