{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}
<div class="container d-flex flex-column justify-items-center mx-auto">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="htext display-3  p-2">Forum</h1>
  </div>
  <div class="card w-75 p-5 mx-auto my-3">
    <h4>Post Title</h4>
    <h5>By: User_name</h5>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <!-- <button class="btn btn-warning text-white" style="position:relative; left:700px; width:150px;"> Add Comment</button> -->
  </div>

  <div class="card w-75 p-5 mx-auto my-3">
    <h4>Post Title</h4>
    <h5>By: User_name</h5>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <!-- <button class="btn btn-warning text-white" style="position:relative; left:700px; width:150px;"> Add Comment</button> -->
  </div>

  <div class="card w-75 p-5 mx-auto my-3">
    <h4>Post Title</h4>
    <h5>By: User_name</h5>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <!-- <button class="btn btn-warning text-white" style="position:relative; left:700px; width:150px;"> Add Comment</button> -->
  </div>

  <p class="mx-auto mt-5" style="font-size:1.2rem;"><a href="{{ url_for('newpost') }}" class="fw-bold btn btn-success">Add Post</a></p>
  <p class="mx-auto mt-5" style="font-size:1.2rem;"><a href="forum.html" class="fw-bold btn btn-secondary">Go Back</a></p>
</div>
{% endblock %}
