{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}

<main>
  <div class="container py-4">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="p-5 mb-4 rounded-3">
      <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">{{ data[0] }}</h1>
        <br>
        <br>
        <p class="fs-4">{{ data[1] }}</p>
        <br>
        <br>
        <button class="btn btn-lg"> <a class="fw-bold" style="color:white;background-color:rgba(8, 14, 44, 1);text-decoration:none;padding:10px;border-radius:5px;" href="{{ url_for(data[3]) }}">{{ data[2] }}</a></button>
      </div>
    </div>
  </div>
</main>

{% endblock %}
