{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}
<div class="container-fluid d-flex flex-column align-items-center justify-items-around w-75">

  <div class="px-5 py-2 my-2 text-center">
    <h2 class="display-6 fw-bold pt-4 mb-5">Best Practices to Follow</h2>
  </div>


  <div class="accordion w-75" id="accordionPanelsStayOpenExample">
    <div class="accordion-item col">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" style="background-color:rgba(8,14,44,1); color:white;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Lookout for Signs!
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" style="background-color:rgba(8,14,44,1); color:white;" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          No signs of illness or injury. Animal is at the front of the cage exhibiting relaxed body postures–sprawled out in a prone position possibly with belly exposed, sitting upright and alert. Head-bumping and scent marking with glands in the chin and above the eyes (cats). Wiggly body, bouncing up and down, tail wagging, licking and nose nudging (dogs).
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" style="background-color:rgba(8,14,44,1); color:white;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwo">
          Becareful during the initial Interactions
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" style="background-color:rgba(8,14,44,1); color:white;" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          Before opening the cage door, speak to the animal in a pleasant, upbeat voice. Let the animal sniff at your fingers through the bars. If you have never handled this animal before, review the information on the kennel card.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" style="background-color:rgba(8,14,44,1); color:white;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree">
          Handling Sick and Injured Animals
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" style="background-color:rgba(8,14,44,1); color:white;" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          Labored breathing. The presence of blood, mucous, or open wounds. Limbs at odd angles. Limping, whimpering, lethargy, not eating.The sweetest animal in the world can bite in response to pain. Before handling an injured animal, if possible ask medical personnel to assess the animal before moving it to determine the proper handling technique for the specific injury. If an animal is brought to the shelter in a box or carrier, keep it confined there until a medical exam is possible when circumstances allow.
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <button class="btn btn-lg"> <a class="fw-bold" style="color:white;background-color:rgba(8, 14, 44, 1);text-decoration:none;padding:10px;border-radius:5px;" href="{{ url_for(user.type) }}">Go Back</a></button>
</div>
{% endblock %}
