{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}

<div class="container-fluid d-flex flex-column align-items-center justify-items-around">

  <div class="px-5 py-2 my-2 text-center">
    <h2 class="display-6 fw-bold pt-5">Animal Rescue and Adoption Data</h2>
  </div>


  <div class="container col-lg-6 px-4 py-5">
    {% if animals == [] %}
    <div class="card w-75 p-5 mx-auto my-3 text-center">
      <h3>There are no animals in your shelter yet.</h3>
    </div>
    {% else %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Breed</th>
          <th scope="col">Age (Months) </th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for animal in animals %}
        <tr>
          <td>{{animal.name}}</td>
          <td>{{animal.type}}</td>
          <td>{{animal.breed}}</td>
          <td>{{animal.age}}</td>
          <td>
            <!-- <button class="btn btn-warning">Edit</button>&nbsp -->
            <a class="btn btn-danger" href="{{url_for('delanim',name=animal.name)}}">Delete</a>
            <!-- <button class="btn btn-danger">Delete</button> -->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

  <p class="mx-auto mt-5" style="font-size:1.2rem;"><a href="{{ url_for('animaladd') }}" class="fw-bold btn btn-success">Add Entry</a></p>
  <p class="mx-auto mt-5" style="font-size:1.2rem;"><a href="{{ url_for(user.type) }}" class="fw-bold btn btn-danger">Go Back</a></p>
  <!-- <a href="{{ url_for('animaladd') }}"><button class="btn btn-success">Add Entry</button></a> -->
  <!-- <a href="{{ url_for(user.type) }}"><button class="btn btn-danger my-2">Go Back</button></a> -->

</div>

{% endblock %}
