<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PawHaven</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="{{ url_for('static',filename='css/login.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" type="text/css">

</head>

<body>
  <div class="form">
    <div class="form-panel one">
      <div class="form-header">
        <h1>Register Account</h1>
      </div>
      <div class="form-content">
        <form method="post" action="{{ url_for('adduser') }}">
          {% if type!="shelter" %}
            <div class="form-group"><label for="fname">First Name</label><input type="text" id="fname" name="fname" required="required" /></div>
            <div class="form-group"><label for="lname">Last Name</label><input type="text" id="lname" name="lname" required="required" /></div>
            <div class="form-group"><label for="num">Age</label><input type="number" id="num" name="num" required="required" /></div>
            <div class="form-group"><label for="email">Email Address</label><input type="email" id="email" name="email" required="required" /></div>
            <div class="form-group"><label for="mob">Mobile Number</label><input type="mob" id="mob" name="mob" required="required" /></div>
            <div class="form-group"><label for="username">Username</label><input type="text" id="username" name="username" required="required" /></div>
            <div class="form-group"><label for="password">Password</label><input type="password" id="password" name="password" required="required" /></div>
            <div class="form-group"><label for="cpassword">Confirm Password</label><input type="password" id="cpassword" name="cpassword" required="required" /></div>
          {% else %}
            <div class="form-group"><label for="username">Name Of Shelter</label><input type="text" id="username" name="username" required="required" /></div>
            <div class="form-group"><label for="fname">First Name Of Manager</label><input type="text" id="fname" name="fname" required="required" /></div>
            <div class="form-group"><label for="lname">Last Name Of Manager</label><input type="text" id="lname" name="lname" required="required" /></div>
            <div class="form-group"><label for="email">Email Address</label><input type="email" id="email" name="email" required="required" /></div>
            <div class="form-group"><label for="mob">Mobile Number</label><input type="mob" id="mob" name="mob" required="required" /></div>
            <div class="form-group"><label for="mob">License Number</label><input type="text" id="license" name="license" required="required" /></div>
            <div class="form-group"><label for="mob">Payment ID</label><input type="text" id="pid" name="pid" required="required" /></div>
            <div class="form-group"><label for="password">Password</label><input type="password" id="password" name="password" required="required" /></div>
            <div class="form-group"><label for="cpassword">Confirm Password</label><input type="password" id="cpassword" name="cpassword" required="required" /></div>
          {% endif %}
          <input type="hidden" name="type" value="{{type}}">
          <div class="form-group"><button type="submit">Register</button></div>
          <a class="smlink" href="{{url_for('login')}}">Already Registered?</a>
        </form>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{url_for('static',filename='js/login.js')}}" ></script>
</body>

</html>
