{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}

<div class="container-fluid d-flex flex-column align-items-center justify-items-around">

  <div class="px-5 py-2 my-5 text-center">
    <h1 class="display-3 p-2">Welcome {{ user.username }}</h1>
  </div>


  <div class="container px-2 py-3">
    <div class="row py-3 align-items-center">

      <div class="card feature p-5 m-2 mx-auto col col-lg-5 text-center hv">
        <div class="feature-icon">
          <i class="fa-solid fa-dog fa-5x py-3"></i>
        </div>
        <h2>Find Animals to Adopt</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
        <a href="{{ url_for('adopt') }}" class="stretched-link"></a>
      </div>

      <div class="card feature p-5 m-2 mx-auto col-lg-5 text-center hv">
        <div class="feature-icon">
          <i class="fa-solid fa-house fa-5x py-3"></i>
        </div>
        <h2>Look For Shelters</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
        <a href="{{ url_for('sheltersrc') }}" class="stretched-link"></a>
      </div>

    </div>
    <div class="row py-3 align-items-center">

      <div class="card feature p-5 m-2 mx-auto col-lg-5 text-center hv">
        <div class="feature-icon">
          <i class="fa-solid fa-comment-dots fa-5x py-3"></i>
        </div>
        <h2>Community Forum</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
        <a href="{{ url_for('forum') }}" class="stretched-link"></a>
      </div>

      <div class="card feature p-5 m-2 mx-auto col-lg-5 text-center hv">
        <div class="feature-icon">
          <i class="fa-solid fa-thumbs-up fa-5x py-3"></i>
        </div>
        <h2>Learn Best Practices</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
        <a href="lbp.html" class="stretched-link"></a>
      </div>

    </div>

  </div>
</div>

{% endblock %}
